.tabs_nav_ul li {
    display: block;
    float: left;
    font-size: 20px;
    color: black;
    font-weight: 700;
    font-family: '宋体';
    width: 252px;
}

.tabs_nav_ul i {
    float: left;
}

.tabs_nav_ul {
    margin: 0 auto;
    width: 1020px;
}

.tabs_nav_ul li {
    text-align: center;
    position: relative;
}

.tabs_nav {
    position: relative;
    background-color: #F1F1F1;
    line-height: 110px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5;
}

.express_service_list {
    height: 786px;
}

.express_service_list .tab_title {
    font-size: 27px;
    font-weight: 700;
    color: black;
    width: 100%;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.wrapper {
    width: 1200px;
    margin: 30px auto 0px;
    height: 390px;
}

.wrapper ul div {
    float: left;
    width: 29%;
    height: 325px;
    border: 4px solid #F1F1F1;
    margin-right: 70px;
    /* overflow: hidden; */
    box-sizing: border-box;
}

.wrapper ul div:nth-child(3) {
    margin-right: 0px;
}

.wrapper img {
    transform: translate(0%, -50%);
    margin: 0 auto;
    display: block;
}

.wrapper h2 {
    font-size: 24px;
    text-align: center;
}

.wrapper ul div p {
    font-size: 14px;
    margin-top: 22px;
    padding-left: 10px;
}

.link_icon_tent {
    background-color: #F1F1F1;
    height: 100px;
}

.link_icon_tent .b_link_icon {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}

.b_link_icon div {
    width: 188px;
    line-height: 50px;
    background-color: #DC1E32;
    margin-left: 70px;
}

.b_link_icon div img {
    vertical-align: middle;
    padding-left: 20px;
}

.b_link_icon div span {
    vertical-align: middle;
    color: white;
    font-size: 20px;
    padding-left: 35px;
}

.b_link_icon ul {
    margin-left: 545px;
}

.b_link_icon ul li {
    float: left;
    width: 70px;
    height: 30px;
    font-size: 17px;
    transform: translateY(-19px);
}

.b_link_icon ul li .b_link_con_img {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: pink;
}

.b_link_icon ul li .weixin {
    background: url(../images/label-top-r-btn.png) no-repeat -80px 0;
}

.b_link_icon ul li .weibo {
    background: url(../images/label-top-r-btn.png) no-repeat;
}

.b_link_icon ul li .kefu {
    background: url(../images/label-top-r-btn.png) no-repeat -157px 0;
}

.b_link_icon ul li .phone {
    background: url(../images/label-top-r-btn.png) no-repeat 0 -80px;
}

.b_link_icon ul li .b_link_con_img :hover {
    background-color: red;
}

.b_link_icon ul li:nth-child(1) {
    transform: translateY(10PX);
}
.footer{
    margin-top: -62px;
}
.mwrap .cooperation{
    margin: 13px 0;
}
.cooperation .consult{
    margin-left: 425px;
}
.cooperation_share{
    position: absolute;
    right: 457px !important;
    top: 50px;
}
.box {
   z-index: 999;
    width: 48px;
    height: 48px;
    background: url(../images/to-top-red.png) no-repeat;
    cursor: pointer;
}
.box:hover{
    background: url(../images/to-top-black.png) no-repeat;
}
.box_mixbox{
position: fixed;
    right: 340px;
    top: 890px;
}
.box_minbox{
position: absolute;
right: 290px;
top:-543px
}
.footer_safe{
    position: relative;
}
.tabs_nav_ul .tabs_nav_ul_ul li{
    float: none;
    /* background-color: red; */
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
}
.tabs_nav_ul .tabs_nav_ul_ul li:hover{
    background-color:red;
    width: 253px;
}
.tabs_nav_ul .tabs_nav_ul_ul {
    display: none;
    position: absolute;
    width: 252px;
    height: 49px;
    top: 110px;
    background-color:white;
    border: 0.6px solid #ccc;
    border-top:none ;
}
.tabs_nav_ul .tabs_nav_ul_ul_one li{
    width: 114px;
    height: 49px;
    line-height: 49px;
}
.tabs_nav_ul_ul_two li{
    width: 143px;
    line-height: 33px;
}
.tabs_nav_ul .tabs_nav_ul_ul_two {
    height: 330px;
    background-color:white;
}
.tabs_nav_ul .tabs_nav_ul_ul_there{
    height: 264px;
}
.tabs_nav_ul_ul_there li{
    width: 143px;
    line-height: 33px;
}
.tabs_nav_ul span:hover{
    cursor:pointer;
    color: #DC1E32;
    border-bottom:2px solid #DC1E32 ;
    padding-bottom: 6px;
}
.tabs_nav_ul_two {
    position: fixed;
    padding-top: -4px;
}
.mwrap{
    position: relative;
}
.express_service_list_top{
margin-top: 110px;
}