.text-center {
    text-align: center;
}

input {
    outline   : none;
    box-shadow: none !important;
}

a {
    color          : #000000;
    text-decoration: none !important;
}




/* 登录框冲突  */
.login,
.login .login_content,
.login .login_title,
.login .login_denglu {
    box-sizing: content-box !important;
}

.login_input {
    box-sizing: border-box !important;
}

.reset .login_denglu_box,
.reset .login_tel,
.reset .login_yan .reset .login_denglu_quick {
    box-sizing: content-box !important;

}

.login :before,
.login :after {
    box-sizing: content-box !important;
}

/* 二级导航栏样式 */
.quick_header_nav {
    height         : 71px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : #333;
 

}

.quick_header_nav a {
    padding      : 12px 50px;
    color        : #999;
    margin       : 0 2px;
    position     : relative;
    border-bottom: 2px solid #333;
    transition   : border-bottom 1s;
}

.quick_header_nav a.current {
    color        : #fff;
    border-bottom: 2px solid #fff;
}

.quick_header_nav a:hover {
    color        : #fff;
    border-bottom: 2px solid #fff;
}

/* 内容区大盒子 */
.quick_content_wrapper {

    padding-bottom  : 71px;
    background-color: #f2f2f2;
}

/* 内容区内容盒子 */
.quick_content_wrapper .content {
    width           : 960px;
    padding         : 0px 80px 50px;
    box-sizing      : border-box;
    background-color: #fff;
    margin          : 0px auto;


}

/* 内容区导航栏 */
/* 内容区导航a链接 */
.content_nav {
    font-size    : 22px;
    height       : 71px;
    line-height  : 71px;
    border-bottom: 2px solid #ccc;
  
}

.content_nav a {
    color      : #333;
    padding    : 0 30px;
    font-size  : 22px;
    display    : inline-block;
    height     : 71px;
    line-height: 71px;
}

/* 内容区tab栏切换当前类 */
.content_nav a.liactive {
    color           : #fff;
    background-color: #dc1e32;
}

/* tab栏经过时颜色字体变红 */
.content_nav a.checked:hover {
    color: #dc1e32;
}

/* 三级tab栏当前类 */
section .three_tab.current {
    display: block;
}

section .three_tab {
    display: none;
}

/*内容区tab栏切换*/
/* 当前类 */
.content_wrapper section,
.content_wrapper section.conactive {
    display: none;
    width  : 100%;
    height : 100%;
}

.content_wrapper section.conactive {
    display: block;
}


/* 寄件人信息 */


/* 我要寄件的内容区步骤样式 */

.bulkShipping ul.step {
    width     : 100%;
    margin-top: 20px;
    position  : relative;
}

.bulkShipping .step li {
    vertical-align    : bottom;
    float             : left;
    min-width         : 120px;
    margin-right      : 5px;
    height            : 75px;
    color             : #ccc;
    transition        : all .2s linear;
    -webkit-transition: all .2s linear;
}

.bulkShipping .step strong {
    transform-origin        : left bottom;
    -webkit-transform-origin: left bottom;
    font-weight             : 400;
    color                   : #ccc;
    font-size               : 38px;
    display                 : inline-block;
    position                : relative;
    top                     : 12px;
    margin-bottom           : 12px;
    line-height             : 1 !important;
}

.bulkShipping .step li p {
    margin-top: 3px;
    color     : #ccc;
}

.bulkShipping .step i {
    display          : inline-block;
    width            : 100%;
    height           : 3px;
    background       : #ccc;
    transform        : skewX(45deg);
    -webkit-transform: scaleY(45deg);
}

/* 我要寄件的内容区步骤当前类样式 */
.bulkShipping .step li.active {
    color            : #dc1e32;
    /* vertical-align: bottom; */

    height: 88.6px;
}

.bulkShipping .step li.active strong {
    font-size    : 50px;
    top          : 0px;
    margin-bottom: 0px;
    color        : #dc1e32;
}

.bulkShipping .step li.active i {
    background-color: #dc1e32;
}

.bulkShipping .step li.active p {
    color: #dc1e32;
}

/* 寄件人步骤下的表单区域 */

.bulkShipping .item .page {
    width      : 800px;
    padding-top: 25px;
}

/* 设置表单里面的样式 */
.sender form {
    width: 100%;
}

div[class^="col-xl-"] {
    float: left;
}

.bulkShipping form,
.bulkShipping-big form {
    width      : 800px;
    margin-left: -15px;
    padding-top: 25px;
}

.container {
    width: 800px;
}

/* 寄方信息行 */
.sftitle {
    margin-top   : 20px;
    font-size    : 17px;
    margin-bottom: 20px;
}

.sftitle .small {
    color       : #ccc;
    padding-left: 8px;
    font-size   : 13px;
}

.sftitle a {
    float          : right;
    padding-left   : 25px;
    margin-top     : 2px;
    margin-left    : 45px;
    font-size      : 14px;
    color          : #333;
    position       : relative;
    text-decoration: none;
}


/* 寄方信息里面链接 */

span[class^="icon-"] {
    font-size  : 23px;
    position   : absolute;
    left       : 0;
    top        : -6px;
    font-weight: 700;
}


.sftitle a:hover {
    color: #dc1e32;
}

.sftitle a:hover span {
    color: #dc1e32;
}

.control-label {
    font-size  : 12px;
    color      : #999;
    text-align : left;
    font-weight: 400;
}

label {
    display: inline-block;
}

.control-label {
    margin-top   : 0;
    margin-bottom: 0;
    padding-top  : 7px;
}

.control-label.required:before {
    content: "* ";
    color  : #eb1d21;
}

.spa {
    height     : 36px;
    line-height: 36px;
    width      : 204px;
    display    : inline-block;
    /* float   :  left; */
    font-size  : 12px;
    color      : #BD362F;
    text-indent: 10px;
    margin-top : 10px;
}

/* 表单里面的内容行 */
.form-group {
    margin-top   : 20px;
    margin-bottom: 15px;
    margin-left  : -15px;
    margin-right : -15px;
    position     : relative;
}

.form-group .form-control {
    border       : 1px solid transparent;
    border-bottom: 1px solid #ccc;
    padding      : 6px 0 !important;
    border-radius: 0px;
}

.form-group .icon-fuwufanwei {
    position : absolute;
    right    : 24px;
    top      : 30px;
    font-size: 23px;
}

.form-group .icon-fuwufanwei:hover {
    color: #dc1e32;
}

/* 下一页按钮 */
.btn_nav {
    margin-top: 50px;
}

.btn-primary {
    position          : relative;
    color             : #fff !important;
    background-color  : #eb1d21;
    font-size         : 14px;
    display           : inline-flex;
    justify-content   : center;
    align-items       : center;
    border            : none;
    letter-spacing    : 1px;
    border-radius     : 16px;
    min-width         : 150px;
    height            : 32px;
    padding           : 0 25px;
    cursor            : pointer;
    transition        : all .2s linear;
    -webkit-transition: all .2s linear;
}

.btn-primary.nextButton:hover {
    background-color: #f74b53 !important;
}

.btn-primary.backButton {
    background-color: #fff;
    color           : #333 !important;
    border          : 1px solid #f1f1f1;
}

.btn-primary.backButton:hover {
    background-color: #f1f1f1;
}

.btn-primary.big {
    height       : 48px;
    border-radius: 24px;
    min-width    : 229px;
}

.btn-primary .icon-duanjiantou {
    font-size: 14px;
    position : absolute;
    right    : 25px;
    color    : #fff;
}

/* 寄大件的样式 */
.heavyCargo_sc img {
    width: 800px;
}

/* 寄大件保存地址 */
.save-address-check.checked:hover,
.electronicTerms:hover {
    color: #dc1e32;
}

.electronicTerms {
    color: #dc1e32;
}

/* 寄大件的提交按钮 */
.btn-primary.submit-order {
    background-color: #999;
    margin-top      : 20px;
}

.checked {
    color: #dc1e32;
}

.checked span {
    color: #dc1e32;
}




/* 重货保价 */
.support_value {
    padding-top: 18px;
}

.support_value a {
    color: #dc1e32;
}

#myModal .modal-title {
    font-size  : 18px;
    font-weight: 700;
}

.padding20 {
    padding: 20px 0;
}

h3 {
    font-size    : 15px;
    margin-top   : 18px;
    margin-bottom: 9px;
}

.support_value_model_content {
    padding: 20px 15px;
}

.support_value_model_content p {
    font-size    : 14px;
    margin-bottom: 20px;
}

.modal-content {
    border-radius: 0px !important;
    border-top   : 6px solid #dc1e32 !important;
}



/* 二维码寄件 */
.ewm-content {
    padding: 50px;
}

.ewm-content .title {
    margin-bottom: 35px;
    font-size    : 23px;
    font-weight  : normal;
}

.ewm-content .step li {
    float     : left;
    width     : 23%;
    margin    : 0 1%;
    height    : 162.6px;
    padding   : 15px;
    box-shadow: 0 11px 33px 11px #f2f2f2;
}

.ewm-content .step li:first-child {
    margin-left: 0px;
}

.ewm-content .step span {
    color    : #dc1e32;
    font-size: 43px;
}

.ewm-content .step li p {
    margin-top: 35px;
}

.ewm-content .tips {
    color: #dc1e32;
    width: 545px;
}

.btn-primary.square {
    border-radius: 2px !important;
}

.ewm-content form {
    margin: 40px 0;
}

.ewm-content form input {

    height      : 48px;
    padding-left: 15px;
    background  : #f2f2f2;
    width       : 372px;
}

.ewm-content form button {
    min-width : auto !important;
    width     : 172px;
    background: #333;
}

/* 二维码中纸质运单模态框 */
.ewm-content .paperBill {
    color: #dc1e32 !important;
}

#paperBill .modal-header {
    border-bottom: none !important;

}

#paperBill .modal-body img {
    width: 100%;
}





/* 预约信息 */


/* 预约信息title行 */
.appointmentInformation .appointmenttitle  {
    padding: 20px 0;
}
.appointmentInformation .appointmenttitle h3 {
    font-size: 23px;
    margin: 0px;
}
 .appointmenttitle p a {
    color: #333;
    margin-left: 25px;
    display: inline-block;
    position: relative;
    padding-left: 25px;
    height: 25px;
    line-height: 25px;
}
.red {
    color: #dc1e32;
}
.appointment .oneself {
    display: none;
}
.bg-red{
    background-color:rgba(255,192,203,.25);
    color: #dc1e32;
    padding: 8px;
}
/* 返回顶部 */
.index-online-service {
    position: fixed;
    top: 70%;
    right: 10px;
    width: 66px;
    background-color: #dc1e32;
    text-align: center;
    color: #fff;
    padding-bottom: 7px;
    z-index: 10;
}
.index-online-service p {
    color: #fff;
}
.index-online-service:before {
    content: '';
    display: block;
    height: 45px;
    /* background: url(../images/smallBanner-icon-red.png) no-repeat 17px -183px; */
    background: url(../images/smallBanner-icon.png) no-repeat 17px -183px #dc1e32;
}