#go_nav {
    width: 48px;
    height: 48px;
    background: url(../images/to-top-red.png);

}
#go_nav:hover {
    background: url(../images/to-top-black.png);
}
.go_top_nav {
    position: fixed;
    top: 100%;
    right: 50%;
    margin-top: -50px;
    margin-right: -640px;
}
.footer {
    position: relative;
}
.go_left_nav {
    position: absolute;
    top: -2%;
    right: 50%;
    margin-right: -640px;
}
.service {
    position: fixed;
    top: 70%;
    right: 10px;
    width: 66px;
    background-color: #dc1e32;
    text-align: center;
    color: #fff;
    padding-bottom: 7px;
    z-index: 91;
}
.service::before {
    content: '';
    display: block;
    height: 45px;
    background: url(../images/smallBanner-icon.png) no-repeat 17px -183px #dc1e32;
}
.service p {
    color: #fff;
}

.tabs_nav_fa>ul>li>a:hover {
    color: #dc1e32;
    border-bottom: 2px solid #dc1e32;
}

.tob_red {
    color: #dc1e32;
    border-bottom: 2px solid #dc1e32;
}

.tabs_pull_down {
    width: 100%;
    line-height: 0;
    position: absolute;
    z-index: 10;
    border: 1px solid #ccc;
    border-top: 0;
    background-color: #fff;
    display: none;
}
.tabs_pull_down li {
    font-weight: 400;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.tabs_pull_down li:hover {
    background-color: #dc1e32;
    color: #fff !important;
    border: 0;
}
.tabs_pull_down li:hover a {
    color: #fff !important;
}
.tabs_nav_fa>ul>li:hover .tabs_pull_down {
    display: block !important;
}
.text_red {
    color: #dc1e32;
}

.download {
    width: 100%;
    margin-bottom: 60px;
}
.download li {
    width: 60%;
    margin: 25px auto;
    font-size: 14px;
    white-space: nowrap;
}
.download li span,
.download li p,
.download li a {
    display: inline-block;
}
.download li span {
    margin-right: 5px;
}
.download li p {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.download li a {
    float: right;
}

.tabs_fixed {
    position: relative;
    top: 0;
}

.tabs_nav_fa li:nth-child(5) {
    background: #F1F1F1;
}
.tabs_nav_fa {
    z-index: 90;
}

#go_nav {
    z-index: 91;
}

.tabs_nav_fa>ul>li {
    width: 20%;
    white-space: nowrap;
    text-align: center;
}