* {
    margin: 0;
    padding: 0;
}

.keep {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
    display: none;
}

.login {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    margin-top: -250px;
    background-color: #fff;
    z-index: 99999;
    display: none;
}

.login_title {
    position: relative;
    width: 500px;
    height: 42px;
    border: 1px solid #f1f1f1;
    border-top: 6px solid #eb1d21;
}

.login_title ul li a {
    display: block;
    font-size: 13px;
    text-align: center;
    line-height: 42px;
    width: 100%;
    height: 100%;
}

.login_title ul {
    margin-left: 40px;
}

.creent {
    box-sizing: border-box;
    color: #dc1e32;
    background: #f2f2f2;
    border-bottom: 2px solid #dc1e32
}

.login_title ul li {
    box-sizing: border-box;
    width: 82px;
    height: 42px;
    margin-top: 1px;
}

.login_title ul li:hover {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    float: left;
}

.close {
    position: absolute;
    right: 10px;
}

.close a {
    font-size: 24px;
    color: grey;
    line-height: 40px;
}

.login_content {
    width: 440px;
    height: 395px;
    padding: 20px 30px;
    /* display: none; */
}

.yuejie a {
    color: #dc1e32;
    font-size: 13px;
}

.yuejie {
    width: 100%;
    text-align: right;
}

.login_content h5 {
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
}

.img {
    width: 200px;
    border: 1px solid #ddd;
    margin: auto;
}

.img img {
    width: 100%;
}

.login_content h4 {
    font-weight: 400;
    color: #999999;
    font-size: 14px;
    margin: 15px auto;
    text-align: center;
}

.self {
    font-size: 13px;
    font-weight: 600;
}

.aotulog {
    overflow: hidden;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.aotulog span {
    vertical-align: top;
}

.deal {
    color: #333;
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
}

.deal a {
    color: #dc1e32;
}


/*登录*/

.login_denglu {
    width: 440px;
    height: 395px;
    padding: 20px 30px;
    display: none;
}

.login_denglu_p {
    font-size: 13px;
    color: #333;
    margin-bottom: 30px;
}

.selected {
    position: relative;
    display: inline-block;
    width: 63px;
    height: 26px;
    font-size: 13px;
    line-height: 30px;
    color: #333;
    background-color: rgba(0, 0, 0, .05);
    padding-left: 5px;
    cursor: pointer;
    padding-bottom: 7px;
}

.login_denglu_box {
    padding: 20px 30px;
}

.selected i {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 6px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555;
}

.selected ul {
    width: 250px;
    height: 120px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-right: 4px solid #ddd;
    margin-left: -5px;
    display: none;
}

.selected ul li {
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
}

.selected ul li:hover {
    background-color: #ddd;
}

.selected ul li span {
    margin-left: 5px;
    color: #999;
}

.login_tel {
    border-bottom: 1px solid #ccc;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 350px 6px;
    transition: all 0.15s;
}

.login_denglu_tel {
    margin-left: 5px;
    width: 260px;
    border: none;
    outline: none;
    font-size: 13px;
}

.login_yan {
    margin: 15px auto;
}

.login_yan button {
    width: 140px;
    height: 32px;
    background-color: gray;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: not-allowed;
    transition: all 0.3s;
    outline: none;
}

.login_input {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 210px;
    margin-right: 20px;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-bottom: 5px;
    transition: all 0.15s;
}

.mistake {
    font-size: 13px;
    color: #eb1d21;
    position: absolute;
    left: 0px;
    top: 33px;
    display: none;
}

.login_input_yan {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 13px;
}

.login_denglu_p1 {
    color: #ceb0b0;
    font-size: 11px;
    text-align: center;
    margin-bottom: 20px;
}

.login_denglu_quick {
    margin: 25px auto;
}

.quick {
    transition: all 0.3s;
}

.login_denglu_quick button {
    width: 229px;
    height: 48px;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.login_denglu_quick button:nth-child(1) {
    background-color: #999;
    cursor: not-allowed;
    color: #fff;
}

.login_denglu_quick button:nth-child(2) {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    transition: all 0.3s;
}

.login_denglu_quick button:nth-child(2):hover {
    background-color: #f1f1f1;
}

form {
    display: inline-block;
}